.pageContainer {
    max-width: 1240px;
    margin: auto;
}

.pageHeading {
    grid-column-start: span 3;
}

.orders {
    list-style: none;
    display: grid;
    gap: 16px;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    max-height: calc(100vh - 200px); /* высота окна - высота всех элементов кроме ингредиентов */
}

.statusList {
    list-style: none;
    padding: 0;
}

.pageContainer {
    display: grid;
    gap: 0 60px ;
    grid-template-columns: 1fr 1fr;
}

.infoSection {
    display: grid;
    align-content: start;
}

.readyOrder {
    color: var(--interface-success)
}

.totalWrapper {
    grid-column-start: span 2;
}

.textShadow {
    text-shadow: 0px 4px 32px rgba(51, 51, 255, 0.50), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 0px 16px rgba(51, 51, 255, 0.25);
}