.wrapper {
    max-width: 600px;
}

.ingredients {
    margin: 0;
    padding: 0;
    max-height: 812px;
    overflow-y: scroll;
    display: grid;
    gap: 32px 40px;
}

.ingredientWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ingredientsHeading {
    grid-column: 1/3;
}