.wrapper {
    max-width: 600px;
    @media (max-width: 1280px) {
        grid-column: 1/3;
        justify-self: center;
        max-width: 850px;
    }
}

.ingredients {
    margin: 0;
    padding: 0;
    max-height: 812px;
    overflow-y: scroll;
    display: grid;
    gap: 32px 40px;
}

.ingredientsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ingredientsHeading {
    grid-column: 1/3;
}