@import '../../shared/colors.css';

body {
    @media (max-width: 850px) {
        :after {
            content: '🚧 Mobile view is under construction 🚧';
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.app {
    @media (max-width: 850px) {
        display: none;
    }
}

