.app {
    --grey: #1C1C21;
    --light-grey: #F2F2F3;
}

.heading {
    width: 100%;
}

.main {
    max-width: 1920px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}