.container {
    max-width: 1280px;
    margin: auto;
}

.wrapper {
    max-width: 480px;
    margin: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.heading {
    text-align: center;
    margin-bottom: 24px;
}

.submit {
    display: block;
    margin: 0 auto;
    margin-bottom: 80px;
}

.inputName, .inputEmail, .inputPassword {
    margin-bottom: 24px;
}

.text {
    text-align: center;
}

.description {
    margin-left: 40px;
    max-width: 320px;
}

.link {
    color: var(--purple);
    text-decoration: none;
    text-shadow: none;

    &:hover {
        text-shadow: var(--purple) 1px 5px 10px;
        text-decoration: underline;
        transition: all 0.3s;
    }
}

.list {
    padding: 0;
    margin: 120px 0 80px 0;
}


.listItem {
    list-style: none;
}