.constructorWrapper {
    display: grid;
    grid-template-columns: auto 215px;
    grid-template-rows: max-content max-content;
    gap: 40px;
    @media (max-width: 1280px) {
        grid-column: 1/3;
        justify-self: center;
        max-width: 850px;
    }
}

.constructor {
    grid-column: 1/3;
}

.ingredients {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    display: grid;
    gap: 16px;
    min-width: 464px;
}

.ingredient {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
}

.bun {
    position: sticky;

    > * {
        margin-left: auto;
    }

    &:first-child {
        top: 0
    };
    &:last-child {
        bottom: 0
    }
}



.inner:not(:last-child) {
    margin-bottom: 16px;
}

.price {
    width: 100%;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    align-content: center;
    align-items: center;
}