.constructorWrapper {
    display: grid;
    grid-template-columns: auto 215px;
    grid-template-rows: max-content max-content;
    gap: 40px;
    @media (max-width: 1280px) {
        grid-column: 1/3;
        justify-self: center;
        max-width: 850px;
    }
}

.constructor {
    grid-column: 1/3;
}

.bun {
    max-height: 80px;
}

.inners {
    padding: 0;
    margin: 0;
    max-height: 464px;
    overflow-y: scroll;
}

.inner {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: auto 100%;
    align-items: center;
}

.inner:not(:last-child) {
    margin-bottom: 16px;
}

.price {
    width: 100%;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    align-content: center;
    align-items: center;
}