.ingredient {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    justify-items: center;
    text-decoration: none;
    text-align: center;
    color: var(--light-grey);
    cursor: pointer;
    @media (max-width: 1280px) {
        grid-column: 1/3;
    }
}

.price {
    font-family: 'Iceland';
    display: flex;
    align-items: center;
    justify-content: center;
}

.priceNumber {
    line-height: 24px;
}